body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#container {
    text-align: center;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

input {
    padding: 8px;
    font-size: 16px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    margin-bottom: 20px;
}

body.modo-noturno {
    background-color: #333;
    color: #fff;
}

.modo-noturno #container {
    background-color: #222;
    border-color: #555;
}

.modo-noturno button {
    background-color: #555;
    color: #fff;
}

.modo-noturno button:hover {
    background-color: #777;
}

.modo-noturno input {
    background-color: #444;
    color: #fff;
    border-color: #666;
}
